
body{
  background-color: #23233b;
}
.rotateRight {
  -webkit-animation-name: rotateRight;
  -webkit-animation-duration:.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes rotateRight {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(100px);
  }
  to {
    -webkit-transform: rotate(5deg) scale(1) skew(0deg) translateX(170px);
  }
}
.rotateLeft {
  -webkit-animation-name: rotateLeft;
  -webkit-animation-duration:.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes rotateLeft {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(100px) translateY(50px);
  }
  to {
    -webkit-transform: rotate(-5deg) scale(1) skew(0deg) translateX(-170px) translateY(50px);
  }
}

/*Layout*/
.auto-container{
  width: 100%;
  max-width: 1200px;
  margin:auto;
}
.heading{
  width: 100%;
  max-width: 965px;
  margin: auto;
}
.heading #heading{
  font-family: 'Abril Fatface', cursive;
  font-size: 90px;
  color: #FFFFFF;
  text-align: center;
  margin: auto;
}
.heading p{
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.heading .giftBtn{
  text-align: center;
  width: 253px;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.heading .giftBtn img{
  display: block;
  margin: auto;
}
.heading .giftBtn a{
  background-color: #f93a2e;
  color:#FFFFFF;
  display: block;
  margin: auto;
  width: 250px;
  font-family: 'Abril Fatface', cursive;
  font-size: 22px;
  text-align: center;
  padding:10px 0px 15px;
  text-decoration: none;
}
.heading .giftBtn:hover{
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.container{
    width: 1090px;
    display: block;
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 99999;
}
.row {
}
.row > .column {
  padding: 0 8px;
}
.row:after {
  content: "";
  display: table;
}
.column{
  width: 250px;
  margin-bottom: 15px;
  cursor: pointer;
}

/* POPUPS */
.modal {
  display: none;
  position: fixed;
  z-index: 99999999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #23253b;
}
.modal-content {
  position: relative;
  background-color: #23253b;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  text-align: center;
}
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.mySlides .img_1 {
 position: absolute;
 -webkit-transition-delay: 1s; /* Safari */
 transition: all .5s;
 max-width: 350px;
 z-index: 10000000;
}
.mySlides .img_2 {
  -webkit-transition-delay: 1s; /* Safari */
  transition: all .5s;
  transition-delay: 2s;
}
.caption-container {
  text-align: center;
  background-color: #23253b;
  padding: 2px 16px;
  color: white;
}
img.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
img.hover-shadow {
  transition: 0.3s
}
.popup{
  background-color: #FFFFFF;
  width: 445px;
  height: 225px;
  text-align: center;
  color: red;
  padding: 15px;
  padding-bottom: 0px;
  padding-right: 20px;
  position: fixed;
  bottom: -250px;
  right: 10%;
  transition: all .5s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 999999;
}
.popup-inner{
  width: 100%;
  height: 100%;
  border: 2px solid #50c5ac;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.popup-inner p{
  font-family: 'Abril Fatface', cursive;
  font-size: 45px;
  text-align: center;
  color: #23253b;
}
.popup-inner p span{
  color: #f93a2e;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/*Day Styling*/
/* EXPIRED HOVER*/
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.expired{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.expired:hover{
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.expired{
  filter: grayscale(100%);
}
.currentDay{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.currentDay:before{
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 4px;
  right: 7px;
  /* IE9 */
  background: linear-gradient(315deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.currentDay:hover:before{
  width: 50px;
  height: 50px;
}
/*Responsive*/
@media screen and (max-width: 1100px){
  .container{
    width: 820px;
  }
}

@media screen and (max-width: 845px){
  .container{
    width: 545px;
  }
  .heading #heading{
    font-size: 40px;
  }
}
@media screen and (max-width: 569px){
  .container{
    width: 270px;
  }
  .expired{
    display: none;
  }
  .popup{
    right: 0%;
    width: 90%;
  }
  .mySlides .img_1 {
   width:50%;
   max-width: 350px;
   position: absolute;
   left: 200px

  }
  .mySlides .img_2 {
    width:50%;
    max-width: 400px;
    position: absolute;
    right: 200px
  }
}
